/* Modal */
/* .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
} */
.modalContainer {
  display: block;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  top: -100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #DFC9F0;
  border-radius: 8px;
  opacity: 0;
  align-items: center;
  transition: opacity 0.5s ease-in-out;


  animation: left-to-center linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: left-to-center linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: left-to-center linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: left-to-center linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: left-to-center linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

/* 
.modalContainer {
    animation: left-to-center linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: left-to-center linear 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: left-to-center linear 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: left-to-center linear 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: left-to-center linear 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
} */

.modalContainer.open {
  opacity: 1;
  top: 101%;
  transform: translateY(0);
  left: 0;
  border-radius: 0;
  align-self: center;
  display: flex;
}


/* Keyframe animation for rolling in */
/* @keyframes rollIn {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }
} */

/* 
.modalContainer {
    display: block;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 360%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #DFC9F0;
    border-radius: 8px;
} */

.modalHeader {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.Modal {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: max-content;

}

.modalDesc {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.modalTitle {
  display: flex;
  flex-direction: column;

}

.modalTitle h3 {
  font-size: 32px;
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
  color: #1C1F35;
  line-height: 32px;
  margin-bottom: 1em;
}


.modalText li {
  font-size: 14px;
  color: #A5A5B3;
  list-style-type: circle;
}



.modal-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}


.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

a {
  margin-right: 100px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 64vw;
  align-items: center;
  align-self: center;
  /* border: 2px solid red; */

}

.form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-self: center;
  /* border: 2px solid red; */

}

.firstItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  width: 60vw;
  align-self: center;
  margin-bottom: 24px;
  /* border: 2px solid red; */
}

.input {
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
}

.inputtext {
  font-size: 0.9rem;
  border: 1px solid #333;
  height: 56px;
  /* margin-top: 10px; */
  margin-right: 0px;
  background-color: transparent;
  border-radius: 12px;
  padding: 12px;
  font-family: 'DM Sans', sans-serif;

}

.message {
  height: 240px;

  margin-bottom: 20px;
  margin-right: 0px;
}

.errorMsg {
  color: red;
  font-size: 0.9rem;
  margin-top: 3px;
}

/* CSS for styling the textarea */
.inputtext.message {
  padding: 12px;
  height: 120px;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  margin-right: 0px;
  border-radius: 12px;
  border: 1px solid #333;
  background-color: transparent;
  resize: vertical;
  font-family: 'DM Sans', sans-serif;
  /* Allow vertical resizing */
  min-height: 80px;
  /* Set a minimum height for the textarea */
  /* Add any other textarea styles as needed */

  /* Style the placeholder text */
  ::placeholder {
    color: #999;
    /* Placeholder text color */
    font-size: 14px;
    /* Placeholder text font size */
    padding-top: -100px;
    /* Adjust the padding to move the placeholder text closer to the top */
  }
}

/* CSS for the submit button */
.submitBttn {
  grid-column: span 2;
  /* Span two columns */
  padding: 10px;
  /* background-color: #601B96; */
  color: #601B96;
  height: 48px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.submitBttn:hover {
  background-color: #a248e6;
  color: #fff;
}


/* CSS for styling the textarea and character counter */
.textarea-container {
  position: relative;
}

.inputtext.message {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  resize: vertical;
  /* Allow vertical resizing */
  min-height: 100px;
  /* Set a minimum height for the textarea */
  /* Add any other textarea styles as needed */
}

.submedia {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 40px;
  justify-items: center;
}


.sIcons {
  width: 32px;
  height: 32px;
  color: #601B96;
  margin-right: 32px;
}

.calltext {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.call {
  display: grid;
  place-content: center;
  width: 32px;
  height: 32px;
  color: #fff;
  padding: 12px;
  background-color: #2A0B41;
  border-radius: 100%;
  margin-right: 12px;
}

.faPhone {
  width: 24px;
  height: 24px;
}

.newstxt {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  align-items: center;
  justify-content: space-between;
  width: 64vw;
  padding: 24px;
}

.newstextHeader {
  color: #333;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.SubText {
  color: #601B96;
  font-size: 1.3em;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}


/* Media query for screens smaller than 768px */
@media screen and (min-width: 360px) and (max-width: 768px) {
  .modalContainer.open {
    opacity: 1;
    top: 101%;
    transform: translateY(0);
    left: 0;
    border-radius: 0;
    align-self: center;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    width: 88vw;
    align-items: center;
    align-self: center;
    /* border: 2px solid red; */

  }

  .form {
    display: flex;
    flex-direction: column;
    width: 88vw;
    align-self: center;
    /* border: 2px solid red; */

  }

  .firstItems {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 12px;
    row-gap: 12px;
    width: 88vw;
    align-self: center;
    margin-bottom: 24px;
    /* border: 2px solid red; */
  }

  .newstxt {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
    width: 88vw;
    padding: 12px;
  }


}