.nubisServices {
    display: flex;
    flex-direction: column;
    height: max-content;
    /* border: 1px solid red; */
    width: auto;
    padding: 72px;
    align-items: center;
}

.nubisServicesTexts {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 24px;
    margin-bottom: 40px;
    /* border: 2px solid red; */
}

.nubisServicesTexts P {
    font-size: 1.3em;
    line-height: auto;
    letter-spacing: -.03em;
    /* font-weight: bold; */
    font-family: 'DM Sans', sans-serif;
    color: #333;
    margin-bottom: 4px;
}

.nubisServicesHead span {
    color: #601B96;
}

.nubisServicesHead {
    font-size: 3em;
    line-height: auto;
    letter-spacing: -.03em;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    color: #333;
    margin-bottom: 4px;

}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 64vw;
    height: max-content;
    /* border: 1px solid red; */
    gap: 40px;
}


.featureCard {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 320px;
    height: 420px;
    background-color: #F1E6F9;
    border-radius: 24px;
    /* border: 1px solid red; */
}

.featuresIcon {
    display: grid;
    place-content: center;
    width: 72px;
    height: 72px;
    background-color: #601B96;
    border-radius: 12px;
}

.featureIcon {
    width: 40px;
    height: 40px;
    color: #fff;
}

.featureText {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.featureText h4 {
    font-size: 1.8em;
    line-height: auto;
    letter-spacing: -.03em;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    color: #333;
    margin-bottom: 12px;
}

.featureText p {
    font-size: 1.3em;
    line-height: auto;
    letter-spacing: -.03em;
    font-family: 'DM Sans', sans-serif;
    color: #333;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .nubisServices {
        display: flex;
        flex-direction: column;
        height: max-content;
        /* border: 1px solid red; */
        width: auto;
        padding: 32px;
        align-items: center;
    }

    .nubisServicesTexts {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        padding: 24px;
        margin-bottom: 40px;
        /* border: 2px solid red; */
    }

    .nubisServicesTexts P {
        font-size: 1.3em;
        line-height: auto;
        letter-spacing: -.03em;
        /* font-weight: bold; */
        font-family: 'DM Sans', sans-serif;
        color: #333;
        margin-bottom: 4px;
    }

    .nubisServicesHead span {
        color: #601B96;
    }

    .nubisServicesHead {
        font-size: 3em;
        line-height: auto;
        letter-spacing: -.03em;
        font-weight: bold;
        font-family: 'DM Sans', sans-serif;
        color: #333;
        margin-bottom: 4px;

    }

    .features {
        display: grid;
        grid-template-columns: 1fr;
        width: 80vw;
        height: max-content;
        /* border: 1px solid red; */
        gap: 40px;
    }

}