.heroscreen {
    display: flex;
    align-items: center;
    width: auto;
    gap: 240px;
    padding: 72px;
    justify-content: space-between;
    margin-bottom: 120px;
}

.herotexts {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    /* position: relative;
    z-index: 2; */
}

.HeadTexts {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -.03em;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    color: #333;
    margin-bottom: 24px;
}


.headptext {
    font-size: 24px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #333;
    margin-top: 1em;
    line-height: 32px;
}

.goheadptext {
    font-size: 24px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #333;
    margin-top: 1em;
    line-height: 32px;
}

.downbtnn {
    width: 10rem;
    height: 3rem;
    margin-right: 2vw;
}


/* .Himg {
    width: 302px;
    height: 554px;
    position: absolute;
    top: 16vw;
    z-index: 10;
    left: 76vw;

} */

.appbuttons {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.phone {
    width: 560px;
    height: 520px;
    /* border: 1px solid #ccc; */
    overflow: hidden;
    background-image: url(/src/assets/images/Framepic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 56px;
}

.move {
    width: 560px;
    height: 520px;
    /* border: 1px solid #ccc; */
    overflow: hidden;
    background-image: url(/src/assets/images/MaskGroup.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 56px;
}

.corp {
    width: 560px;
    height: 520px;
    /* border: 1px solid #ccc; */
    overflow: hidden;
    background-image: url(/src/assets/images/Corporate.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 56px;
}

.thebtton {
    display: flex;
    flex-direction: row;
    padding: 12px;
    background-color: #601B96;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    border: none;
    height: 48px;
    width: 160px;
    margin-top: 2em;

}

/* Media query for screens smaller than 768px */
@media screen and (min-width: 360px) and (max-width: 768px) {

    .heroscreen {
        flex-direction: column;
        gap: 16px;
        padding: 32px;
        margin-bottom: 12px;
        align-items: center;
    }

    .herotexts {
        max-width: 100%;
        margin-left: 0;
        align-items: center;
    }

    .HeadTexts {
        font-size: 2.4em;
        line-height: 48px;
        margin-bottom: 4px;
        text-align: center;
    }

    .headptext,
    .goheadptext {
        font-size: 16px;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
        color: #333;
        line-height: 32px;
        text-align: center;
    }

    .downbtnn {
        width: 100%;
        margin-right: 0;
    }

    .appbuttons {
        flex-direction: row;
        margin-top: 16px;
    }

    .phone,
    .move,
    .corp {
        height: 300px;
        border-radius: 8px;
        width: 300px;
        margin: 24px;
    }
}