.footer {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #231F20;
    /* border: 2px solid red; */
    padding: 24px;
    height: 240px;
}

.Nlogo {
    width: 140px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 120px;

}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.navlinks {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navlinks>li {
    font-size: 20px;
    color: #fff;
    margin-bottom: 16px;
    list-style-type: none;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
}

.contactt {
    display: flex;
    flex-direction: column;

}

.contactt p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 0;
    list-style-type: none;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
}

.socialmediaicon {
    width: 24px;
    height: 24px;
    color: #fff;
    margin-right: 32px;
}

.small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding-top: 12px;
}

.terms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
}

.smallA {
    font-size: 16px;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 0;
    list-style-type: none;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
}

/* Media query for screens smaller than 768px */
@media screen and (min-width: 360px) and (max-width: 768px) {

    .footer {
        /* display: flex;
        flex-direction: row; */
        width: auto;
        background-color: #231F20;
        /* border: 2px solid red; */
        padding: 12px;
        height: max-content;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 4px;
    }

    .links {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }

    .small {
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
        border-top: 1px solid #fff;
        padding-top: 12px;
        justify-content: center;
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: #333;
        font-size: 20px;
        color: #fff;
        align-self: center;
    }
}